* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --background: url(./assets/bg-mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.05);
    --social-color-hover: rgba(255, 255, 255, 0.2);
    --switch-icon: url(./assets/dark_icon.svg);
}

.light {
    --text-color: black;
    --background: url(./assets/bg-mobile-light.png);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --social-color-hover: rgba(0, 0, 0, 0.1);
    --switch-icon: url(./assets/light_icon.svg);
}

body * {
    font-family: "Inter", serif;
    color: var(--text-color);
}

body {
    background: var(--background) no-repeat top center / cover;
}


#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0px 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
}

#profile p {
    margin-top: 8px;
    font-weight: 500;
    line-height: 24px;
}

#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#switch button {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: none;
    background: white var(--switch-icon) no-repeat center;
    color: #000;

    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    z-index: 1;
}

.light #switch button {
    left: initial;
    right: 0;
}

#switch span {
    display: block;
    height: 24px;
    width: 64px;
    left: 0px;
    top: calc(50% - 24px/2);
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
}

ul li a {
    display: flex;
    padding: 16px 24px;
    align-items: center;
    justify-content: center;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: 500;

    transition: background 0.5s;
}

ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}

#social {
    display: flex;
    padding: 24px 0px;
    justify-content: center;
    align-items: center;
}

#social a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 50%;

    transition: background 0.5s;
}

#social a:hover {
    background: var(--social-color-hover);
}

#social a ion-icon {
    font-size: 24px;
}

footer {
    text-align: center;
    padding: 24px 0;
    font-size: 14px;
}